<h1>Contacts</h1>

{{#link-to "contacts.new"}}Create{{/link-to}}

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th class="sortable" {{action 'sortBy' 'id'}}>ID</th>
    <th class="sortable" {{action 'sortBy' 'name'}}>Name       {{if (eq sortBy "name")  sortDir  }}</th>
    <th class="sortable" {{action 'sortBy' 'surname'}}>Surname {{if (eq sortBy "surname")  sortDir  }}</th>
    <th class="sortable" {{action 'sortBy' 'phone'}} >Phone    {{if (eq sortBy "phone")  sortDir  }} </th>
    <th class="sortable" {{action 'sortBy' 'email'}}>E-mail    {{if (eq sortBy "email")  sortDir  }} </th>
    <th class="sortable" {{action 'sortBy' 'web'}}>Web         {{if (eq sortBy "web")  sortDir  }}</th>
    <th class="sortable" {{action 'sortBy' 'city'}} >City      {{if (eq sortBy "city")  sortDir  }}</th>
    <th class="sortable" {{action 'sortBy' 'address'}} >Address {{if (eq sortBy "address")  sortDir  }}</th>
    <th>Country </th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {{#each sortedContacts as |contact| }}
    <tr>
      <td>{{contact.id}}</td>
      <td>{{contact.name}}</td>
      <td>{{contact.surname}}</td>
      <td>{{contact.phone}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.phone}}</td>
      <td>{{contact.city}}</td>
      <td>{{contact.address}}</td>
      <td>{{contact.country.title }}</td>
      <td>
        <button type="button" class="btn" {{action 'redirectToShowContact' contact}}>Show</button>
        <button type="button" class="btn" {{action 'redirectToEditContact' contact}} >Edit</button>
        <button type="button" class="btn btn-danger" {{action 'deleteContact' contact}}>Delete</button>
      </td>
    </tr>
  {{/each}}

  </tbody>
</table>